body {
    background-color: #FFFFF7;
}

.card {
    box-shadow: 0 0 100px rgba(100,100,100, 0.5)
}

.navbar {
    background-color: #0091FF;
}

.nav-pills > li > a:hover, .nav-pills > li > a:focus {
    color:black;
}

.nav-pills > li > a{
    color: white;
}

#navbarSupportedContent > .nav-pills > .nav-item > .active {
    background-color: #ffc300;
    color:gray;
}
#imghand-carousel, #imgrecog-carousel, #imgyellow-carousel {
    /* text-align: center;
    background-image: linear-gradient( rgba(0,0,0,1), rgba(0,0,0,.25));
    height: 100%;
    width: 100%; */
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:30%;
    left:0;
    right:0;
    background-image: linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,0));
    
    
}
.carousel-caption h2 {
    opacity: 1;
    color:whtie;
    font-weight: bolder;
    font-size:2.3em;
}
.carousel-caption p {
    color: white;
    font-size: x-large;
    font-weight:bold;
}
/* .drk:after {
   
} */
/* 
.row, [class*="col-"], h1 {
    border-width: 2px;
    #imghand-carousel, #imgrecog-carousel, #imgyellow-carousel
    border-color: black;
    border-style: solid;
} */

.carousel-item {
   max-height: 90vh;
}

input:invalid {
    box-shadow: 0 0 5px 1px red;
}