body {
    background-color: #FFFFF7;
    font-family: 'Roboto', sans-serif;

}
.card {
    margin-top: 10px;
    box-shadow: 0 0 100px rgba(100,100,100, 0.5)
}

.card-footer {
    background-color: white;
    margin-top: 0;
    border: 0px;
}

.card-footer a {
    margin-right: 31px;
    padding-left: 100;
}
.btn {
    background-color: #248EFF;
    color: white;
}
.btn:disabled{
    background-color: #248EFF;
    color: white;
}

/* img {
    border: #248EFF;
    border-style: solid;
    border-size:2px;
} */

.text-center  p {

   display: flex;
    width:100%;
    height:60%;
    justify-content: center;
    align-items: center;
    /* border: #248EFF;
    border-style: solid;
    border-size:2px; */

}
 .index-btn {
    display: flex;
    justify-content: flex-end;
}


.navbar {
    /* background-color: #1285ff; */
    background-color: #248EFF;
}

.nav-pills > li > a:hover, .nav-pills > li > a:focus {
    color:black;
}

.nav-pills > li > a{
    color: white;
}

#navbarSupportedContent > .nav-pills > .nav-item > .active {
    /* background-color: #ffc300;
    /* background-color: #fed70d; */
    background-color: #fdd800; 
    color:gray;
}
/* #imghand-carousel, #imgrecog-carousel, #imgyellow-carousel */
.carousel-caption  {
    
    /* content:"";
    display:block;
    position:absolute; */
    top:0;
    bottom:30%;
    left:0;
    right:0;
    background-image: linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,0));
    
    
}
.carousel-caption h2 {
    opacity: 1;
    color:whtie;
    font-weight: bolder;
    font-size:2.3em;
}
.carousel-caption p {
    color: white;
    font-size: x-large;
    font-weight:bold;
}
/* .drk:after {
   
} */
/* 
.row, [class*="col-"], h1 {
    border-width: 2px;
    #imghand-carousel, #imgrecog-carousel, #imgyellow-carousel
    border-color: black;
    border-style: solid;
} */

.carousel-item {
   max-height: 90vh;
}

input:invalid {
    box-shadow: 0 0 5px 1px red;
}